
BODY {
    background: url("img/0.jpg");
}

#header {
    width: 100%;
    height: 50px;
    background: url('img/logo.png');
    color: white;
}

#header H1 {
    padding-left: 70px;
    font-size: 14pt;
    font-weight: normal;
    font-style: italic;
    overflow: hidden;
    float: left;
}

#header .item {
    float: left;
}

#header .right {
    float: right;
}

#header UL, #header OL {
    list-style: none;
}

#header .drop, #header A {
    background: #393;
}

#header A {
    display: block;
    margin-top: 20px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    color: white;
    text-align:center;
    text-decoration: none;
    overflow: hidden;
}

#header A:hover, #header A.drop-button {
    background: #363;
}

#header .drop A {
    margin-top: 0;
    text-align: left;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

#page {
    align-content: center;
    width: 70%;
    background-color: rgba(212,203,205, 0.9);
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    margin-top: 5%;
    overflow: hidden;
    border-radius: 15px;
    padding-bottom: 1%;
}

#page A {
    color: #393;
}

#page A:hover {
    color: #373;
}

#page H2 {
    font-size: 14pt;
    min-height: 30px;
    line-height: 30px;
    margin-top: 20px;
}

#page P {
    margin-top: 20px;
}

#page LABEL {
    display: block;
    font-weight: bold;
    margin-top: 20px;
    min-height: 30px;
    line-height: 30px;
}

#page INPUT, #page SELECT {
    border: 1px solid #ABA;
    width: 100%;
}

#page INPUT[disabled], #page SELECT[disabled] {
    background: #DED;
}

#page INPUT:focus, #page SELECT:focus {
    border: 1px solid #373;
}

#page INPUT, #page SELECT {
    height: 30px;
    line-height: 30px;
}

#page BUTTON, #confirm-message BUTTON {
    height: 30px;
    line-height: 30px;
    margin: 20px 20px 0 0;
    background: #393;
    color: black;
    padding: 0 20px;
}

#page BUTTON:hover, #confirm-message BUTTON:hover {
    cursor: pointer;
    background: #363;
}

#page BUTTON[disabled], #page BUTTON[disabled]:hover {
    background: #ABA;
}

#page BUTTON.search {
    width: 100px;
    margin: 20px 0 0 20px;
}

#page OL {
    margin-top: 20px;
    list-style-position: inside;
    counter-reset: item;
}

#page LI {
    min-height: 30px;
    line-height: 30px;
    list-style-type: none;
}

#page OL LI:before {
    color: #ABA;
    content: counter(item) ".";
    counter-increment: item;
    padding-right: 10px;
}

#page TABLE {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

#page TR {
    min-height: 30px;
    line-height: 30px;
}

#page TR[onclick]:hover {
    cursor: pointer;
    background: #DED;
}

#page TR.special {
    background: #ECC;
}

#page TR.special[onclick]:hover {
    background: #EDD;
}

#page TH, #page TD {
    text-align: left;
    padding: 0 10px;
}

#page TD {
    border: 1px solid #ABA;
}

#page TH {
    background: #393;
    color: white;
    font-weight: normal;
    border: 1px solid #373;
}

#page HR {
    height: 1px;
    background-color: #393;
    margin: 20px 0;
}

IMG.arrow {
    height: 7px;
    width: 7px;
    vertical-align: middle;
}

#confirm-message {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(21, 42, 21, 0.75);
    z-index: 1;
}

#confirm-message DIV {
    position: fixed;
    background: white;
    border: 1px solid #373;
    height: 38%;
    width: 38%;
    top: 31%;
    left: 31%;
    padding: 20px;
}

#confirm-message BUTTON {
    min-width: 150px;
}

#confirm-message P {
    text-align: center;
    font-size: 16px;
    margin-top: 70px;
    font-weight: bold;
}

#confirm-message FORM {
    position: absolute;
    bottom: 20px;
}

 img {
     height: 75%;
     width: 75%;
     margin-left:35px;
     margin-right:35px;
 }


 h1{
     text-align: center;
     color: #4b6548;
     text-shadow: black 1px 1px 1px;
 }

 a{
     text-decoration: none;
     display: block;
     position: relative;
 }

 a img{
     box-shadow: inset 0 0 6px;
     opacity: 0.6;
     transition: opacity 124ms linear, transform 124ms linear;  /* Плавное изменение прозрачности и увеличения */
     display: block; /* Убираем полосу под картинкий */
 }
 a:hover img{
     height: 75%;
     width: 75%;
     opacity: 1;
     transform: scale(1.00); /* Увеличение картинки */
     box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
 }

 a:hover p{
     text-decoration: none;
     font-size: 22px;
     color: #4b6548;
     text-shadow: black 1px 1px 1px;
 }

 p{
     /*font-size: 22px;*/
     text-align: center;
     color: #518744;
     text-shadow: gray 1px 1px 1px;
 }